openapi: 3.1.0
info:
  title: Game Asset Forge PixelLab Queue API
  version: "1.0.0"
  description: PixelLab actions that return small payloads only.
servers:
  - url: https://api.pixellab.ai/v2
security:
  - bearerAuth: []
paths:
  /balance:
    get:
      operationId: getPixelLabBalance
      summary: Get PixelLab balance
      description: Check current PixelLab balance and generation allowance.
      responses:
        "200":
          description: Balance retrieved.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /create-image-pixflux-background:
    post:
      operationId: queuePixelArtImage
      summary: Queue Pixflux generation
      description: Start a Pixflux background job and return its job ID. Do not poll PixelLab directly after this call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [description, image_size]
              properties:
                description:
                  type: string
                image_size:
                  type: object
                  required: [width, height]
                  properties:
                    width:
                      type: integer
                      minimum: 32
                      maximum: 400
                    height:
                      type: integer
                      minimum: 32
                      maximum: 400
                  additionalProperties: false
                no_background:
                  type: boolean
                  default: false
                seed:
                  type: integer
                  minimum: 0
                isometric:
                  type: boolean
                  default: false
                outline:
                  type: string
                shading:
                  type: string
                detail:
                  type: string
                view:
                  type: string
                direction:
                  type: string
                text_guidance_scale:
                  type: number
                  minimum: 1
                  maximum: 20
              additionalProperties: false
      responses:
        "202":
          description: Job accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  background_job_id:
                    type: string
                  status:
                    type: string
                  usage:
                    type: object
                    additionalProperties: true
                additionalProperties: true
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
